.l_ogin {
    background-color: rgb(158, 239, 250);
}
.body_tabela {
    align-items: center;
}
.botao_p {
    background-color: rgb(116, 205, 240);
    border-radius: 16px;
}
.cad_p 
.medico {
    text-align: justify;
    align-items: center
}
.edicao {
    text-align: justify;
}